[user]
	name = Chris Impicciche
[push]
  autoSetupRemote = true
[credential]
	helper = osxkeychain
[core]
  pager = delta | less --tabs=4 -RF --mouse
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[github]
	user = peechiz
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[init]
	defaultBranch = main
[delta]
  line-numbers = true
